*,
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    background-color: lightskyblue;
}

.main {
    text-align: center;
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px; */
    border-bottom: 1px solid #000;
}

.pg p {
    background-color: lightsalmon;
    font-size: 27px;
    text-shadow: 1px 1px 2px darkred;
    padding: 2em;
}

@media only screen and (max-width: 736px) {
    .pg p {
        /* text-align: justify; */
        /* letter-spacing: .25px; */
        padding: 0.5em;
    }
}

#cards {
    width: auto;
    height: auto;
}

.card {
    position: relative;
    display: inline-flex;
    justify-items: center;
    flex-direction: column;
    border: black solid 4px;
    width: auto;
}

.card-text {
    width: auto;
    margin: auto;
    padding: 20px;
    width: auto;
    height: auto;
    font-size: large;
}

.card-text p {
    font-size: 2.5rem;
    text-align: center;
}

.card-img {
    height: 20rem;
    width: 100%;
    position: relative;
}

.card-info {
    font-size: 18px;
    padding: 0.5em;
    background-color: lightcoral
}

.owl-nav,
.owl-dots {
    display: block !important;
}